.filters {
  margin-bottom: 30px;
  
  .filter:first-child {
    
    @media all and (min-width: 991px) {
      margin-left: 0;
    }
  }

  .filter {
    color:  #3658a4;
    text-transform: uppercase;
    border: 1px solid rgba(0, 0, 0, 0.07);
    line-height: 3;    
    padding: 0 6px;
    font-size: 9pt;
    cursor: pointer;
    margin: 0 15px;
    position: relative;

    span {
      color: #000;
      text-transform: none;
      font-size: 12pt;

        input {
          line-height: 2;
          outline: none;
          border: none;
        }

        select {
          outline: none;
          border: none;
        }
    }

    input#input-select-items-per-page, 
    select#select-ordenar-por,
    select#select-moeda {
      display: none; 
    }

    #filter-select-items-per-page, 
    #filter-select-ordenar-por,
    #filter-select-moeda {
      position: absolute;
      top: 48px;
      left: -1px;
      z-index: 100;
      background-color: #fff;
      width: calc(100% + 2px);
      max-height: 200px;
      overflow-y: auto;
      border: 1px solid rgba(0,0,0,0.07);
      display: none;

      div {
        padding-left: 10px;
      }
    }


    i.glyphicon {
      top: 8px;
    }
  }

  #filter-itens-pagina, #filter-moeda {
    min-width: 173px;
  }

  #filter-ordenar-por {
    min-width: 260px;
  }
}