<div class="clearfix bg-yellow mg-bt-40" ng-repeat="commercial in vm.commercials | orderBy: (vm.select.order.sign + 'rent.total') | startFrom: ((vm.currentPage * vm.itemsPerPage) - vm.itemsPerPage) | limitTo: vm.itemsPerPage">
  <div class="col-md-9 main-content no-padding">
    <div class="clearfix first-row">
      <div class="col-md-5 image-container no-padding">
        <img src="{{ commercial.carPicture.src }}" alt="{{ commercial.carPicture.alt }}">

        <div class="col-md-4 image-discount txt-center" ng-if="commercial.discount.have">
          <div>Desconto</div>
          <div>{{ commercial.discount.percent }}%</div>
        </div>

        <div class="col-md-4 image-brand">
          <img src="{{ commercial.brandImage.src }}" alt="{{ commercial.brandImage.alt }}">
        </div>
      </div>

      <div class="col-md-7 car-description">
        <hgroup>
          <div>
            <div class="col-xs-11 no-padding">
              <h2>{{ commercial.title }}</h2>
            </div>
            <div class="col-xs-1 no-padding">
              <i class="glyphicon glyphicon-heart red" ng-if="commercial.marked" ng-click="commercial.marked = !commercial.marked"></i>
              <i class="glyphicon glyphicon-heart" ng-if="!commercial.marked" ng-click="commercial.marked = !commercial.marked"></i>
            </div>
          </div>
          
          <h5>Código da Taxa: {{ commercial.impostCode }}</h5>
          <h5>{{ commercial.availableCars }}</h5>
        </hgroup>

        <ul class="no-padding">
          <li ng-repeat="detail in commercial.details">- {{ detail }}</li>          
        </ul>
      </div>
    </div>

    <div class="clearfix second-row {{ commercial.moreDetails.open ? '' : 'hide-row' }}">
      <div ng-if="commercial.moreDetails.open">{{ commercial.moreDetails.comment }} </div>

      <div class="arrow-up" ng-if="commercial.moreDetails.open"></div>
      <div class="arrow-up arrow-up-assist" ng-if="commercial.moreDetails.open"></div>
      <div class="close-details" ng-if="commercial.moreDetails.open" ng-click="commercial.moreDetails.open = !commercial.moreDetails.open"><span>Fechar detalhes</span> <i class="glyphicon glyphicon-remove"></i></div>
      <div class="close-details" ng-if="!commercial.moreDetails.open" ng-click="commercial.moreDetails.open = !commercial.moreDetails.open"><span>Mostrar detalhes</span> <i class="glyphicon glyphicon-plus"></i></div>
    </div>

    <div class="clearfix third-row">
      <div class="col-md-4" ng-repeat="additional in commercial.additionals"><i ng-class="additional.icon"></i> {{ additional.title }}</div>      
    </div>
  </div>

  <div class="col-md-3 txt-center no-padding">
    <div class="rent-content">
      <div class="total-locacao">Total da Locação</div>
      <div ng-if="commercial.discount.have" class="discount">
        <div class="discount">
          de R$ {{ commercial.rent.total }}
        </div>
        <div>por <span class="unidade-monetaria">R$ </span><span class="qty-money">{{ (commercial.rent.total - (commercial.rent.total * (commercial.discount.percent / 100))) | currency:"":2 }}</span></div>
      </div>
      <div ng-if="!commercial.discount.have">
        <div>por <span class="unidade-monetaria">R$ </span><span class="qty-money">{{ commercial.rent.total | currency:"":2 }}</span></div>
      </div>
      <div class="qty-plots" ng-if="commercial.rent.plots > 1">em até {{ commercial.rent.plots }}x</div>
      <div class="btn-container">
        <button type="button" class="btn btn-alugar">Alugar</button>
        <div class="arrow-right"></div>
      </div>
      <div class="taxas">Taxas inclusas</div>
    </div>
  </div>
</div>