<div class="side-menu">
  <div class="form-group" id="local-retirada">
    <label for="input-local-retirada">Local de Retirada</label>
    <input type="text" ng-model="vm.withdrawal" ng-change="vm.changeWithdrawal()" class="form-control" name="input-local-retirada" id="input-local-retirada" placeholder="Tente Diadema">

    <div id="select-local-retirada" class="tips" ng-if="vm.withdrawal">
      <div ng-repeat="withdrawal in vm.places.withdrawal | filter: vm.withdrawal" ng-click="vm.setWithdrawal(this)">{{ withdrawal }}</div>
      <div ng-if="!(vm.places.withdrawal | filter: vm.withdrawal).length">Nenhuma localidade encontrada</div>
    </div>
  </div>

  <div class="form-group">
    <input type="checkbox" checked>
    <label for="check-outro-local" id="check-outro-local">Devolver o carro em outro local</label>
  </div>

  <div class="form-group" id="local-devolucao">
    <label for="input-local-devolucao">Local de Devolução</label>
    <input type="text" ng-model="vm.return" class="form-control" name="input-local-devolucao" id="input-local-devolucao" placeholder="Tente a">

    <div id="select-local-devolucao" class="tips" ng-if="vm.return">
      <div ng-repeat="return in vm.places.return | filter: vm.return" ng-click="vm.setReturn(this)">{{ return }}</div>
      <div ng-if="!(vm.places.return | filter: vm.return).length">Nenhuma localidade encontrada</div>
    </div>
  </div>

  <div class="form-group clearfix">
    <div>
      <label>Retirada</label>
    </div>
    <div class="container-datetime clearfix">
      <div class="col-xs-9 no-padding">
        <input type="date" class="form-control no-right-radius" name="input-data-retirada" id="input-data-retirada">
      </div>
      <div class="col-xs-3 no-padding">
        <input type="time" class="form-control no-left-radius" name="input-hora-retirada" id="input-hora-retirada">
      </div>
    </div>
  </div>

  <div class="panel panel-success">
    <div class="panel-heading no-padding">Economize até 35%</div>
    <div class="panel-body">
      <div class="col-xs-6">
        <input type="checkbox" name="check-incluir-voo" id="check-incluir-voo">
        <label for="check-incluir-voo">Incluir voo</label>
      </div>
      <div class="col-xs-6">
        <input type="checkbox" name="check-incluir-hotel" id="check-incluir-hotel">
        <label for="check-incluir-hotel">Incluir hotel</label>
      </div>
    </div>
  </div>

  <div class="form-group">
    <button type="button" class="btn btn-primary" id="btn-search" ng-click="vm.btnSearch()">Buscar</button>
  </div>
</div>